@import url(//db.onlinewebfonts.com/c/6cec834e2e8f2e4206567ed75e1281d4?family=Brandon+Grotesque+Bold);
@import url(//db.onlinewebfonts.com/c/924ee4158324c02e3e0d62e54cafd14f?family=Gotham+Book);
@import url(//db.onlinewebfonts.com/c/9a2bc11be56851dde98c1b49302cc21a?family=Gotham+Medium);
@import url(//db.onlinewebfonts.com/c/db33e70bc9dee9fa9ae9737ad83d77ba?family=Gotham);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: white;
    font-family: "Brandon Grotesque Bold", sans-serif;
    background-image: url("./images/costa-bg.svg");
    background-repeat: repeat;
    background-size:  94px 94px;
}

#header-container {
    background-image: linear-gradient(180deg, rgba(0,0,0,0.70) 0%, rgba(0,0,0,0) 50%), url("./images/costa-header-bg-lg.jpeg");
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-container {
    /*border: 5px solid fuchsia;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 29px 0px;
    max-width: 1392px;
    width: 1392px;
}

.banner-logo-container img {
    width: 205px;
}

.navbar-container {
    display: flex;
}

.navbar-container li {
    margin: 0px 16px;
}

.navbar-container a {
    text-decoration: none;
    font-size: 24px;
    color: white;
}

.customer-icons-container {
    display: flex;
    justify-content: space-between;
    width: 88px;
}

.hero-section{
    width: 100%;
}

h1 {
    font-size: 70px;
    line-height: 77px;
    font-weight: normal;
    text-align: center;
    width: 566px;
    margin: 120px;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 1392px;
    margin: 92px auto;
    color: black;
}

main p {
    color: rgb(64, 64, 66);
}

.card {
    display: flex;
    margin: 0px auto 80px auto;
    width: 100%;
}

.card-section {
    width: 50%;
    min-height: 512px;
    color: rgb(109, 31, 55);
    text-align: center;
}

.card1-section-left {
    padding: 80px;
    background-color: rgb(245, 142, 144);
}

.card-section img {
    width: 100%;
    height: 100%;
}

.card2-section-right {
    padding: 80px;
    background-color: rgb(207, 168, 202);
}

.card p {
    font-family: "Gotham Book", sans-serif;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 28px;
}

.disclaimer {
    padding: 0px 15%;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    font-family: "Gotham Book", sans-serif;
    line-height: 22px;
}

.disclaimer p {
    margin: 14px 0px;
}

p a {
    color: rgb(109, 31, 55);
    text-decoration: none;
    font-family: "Gotham Medium", sans-serif;
}

p a:hover {
    color: rgb(181, 17, 68);
    text-decoration: none;
    font-family: "Gotham Medium", sans-serif;
}

.site-map-container {
    display: flex;
    background-color: rgb(181, 17, 68);
    background-image: url("./images/bg-wave.svg");
    background-repeat: repeat;
    padding: 100px;
}

.map-list {
    width: 18%;
    font-family: "Gotham Medium", sans-serif;
}

h2 {
    font-family: "Brandon Grotesque Bold", sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
}

.card1 h2 {
    font-size: 50px;
    line-height: 55px;
}

.card2 h2 {
    font-size: 40px;
    line-height: 44px;
}


h3 {
    font-family: "Gotham", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 40px;
}

.map-list li {
    margin-bottom: 12px;
}

.map-list li a {
    color: white;
    text-decoration: none;
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 27px;
}

.map-list li a:hover {
    color:rgb(221, 221, 221);
}

.footer-container {
    background-color:rgb(109, 31, 55);
    display: flex;
    flex-wrap: wrap;
    padding: 32px 100px;
    justify-content: space-between;
}

.footer-links, .social-media {
    display: flex;
    width: auto;
}

.footer-text {
    width: auto;
    display: flex;
}

.footer-links li {
    margin-right: 30px;
    font-size: 18px;
    font-family: "Gotham Medium", sans-serif;
    line-height: 27px;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.copyright {
    font-family: "Gotham Book", sans-serif; 
    font-size: 18px; 
    line-height: 28px;
    margin-right: 48px;
}

.social-media img {
    height: 26px;
    margin-right: 25px;
}

.social-media {
    justify-content: right;
    display: flex;
}

li {
    list-style-type: none;
}



.button-list{
    display: flex;
    flex-direction: column;
}

.button {
    padding: 15px 0px 15px 0px;
}

.button a {
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    border-radius: 32px;
    line-height: 28px;
    padding: 15px 20px;    
}

.maroon-button a {
    background-color:rgb(109, 31, 55);
    color: white;
}

.maroon-button a:hover {
    background-color:rgb(181, 17, 68);
    color: white;
}

.transparent-button a {
    color: rgb(109, 31, 55);
}

.transparent-button a:hover {
    color: rgb(181, 17, 68);
}

@media all and (max-width: 768px) {
    .card, .site-map-container, .footer-container, .footer-text {
        flex-wrap: wrap;
    }

    .card-section, .map-list, .copyright {
        width: 100%;
    }

    .footer-links {
        width: 100%;
        flex-direction: column;
        margin-bottom: 12px;
    }

    .copyright {
        margin-bottom: 12px;
    }

    .footer-links a {
        font-size: 16px;
    }

    .social-media {
        width: 100%;
        justify-content: left;
    }

    .card2 {
        flex-direction: column-reverse;
    }
}